version: '3.8'
services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: blah
      POSTGRES_USER: blah
      POSTGRES_PASSWORD: blablah
    ports:
      - "5432:5432"
  redis:
    image: redis:latest
    ports:
      - "6379:6379"